nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    width: 100%;
    padding: 0 85px;
    position: relative;
    /* background-color: red; */
}

.logo img {
    width: 76px;
    height: 43px;
    margin: 15px;
    cursor: pointer;
    position: relative;
}

ul.components {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 24px;
}

li.navItems {
    list-style: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #2E2E2E;
}

button.navbtn {
    width: 75px;
    height: 31px;
    position: relative;
    background: #D01C28;
    color: #FFFFFF;
    font-weight: 500;
    border: none;
    font-size: 16px;
    padding: 6px, 16px, 6px, 16px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}




/*..................media queries...................*/

@media only screen and (max-width: 768px) {
    nav {
        padding: 0 20px; /* Adjust padding for smaller screens */
    }

    ul.components {
        flex-direction: column; /* Stack list items vertically on smaller screens */
        gap: 10px;
        text-align: center; /* Center text in the list items */
    }

    li.navItems {
        width: 100%; /* Full width for list items on smaller screens */
    }
}